body {
    font-family: Arial, Helvetica, sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.clipboard-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: azure;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 90vh;
}

.generador-otp {
    text-align: center;
    margin: auto;
    max-width: 350px;
    background-color: azure;
    padding: 50px 100px;
    border-radius: 15px;
    box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.134);
}

.uppercase {
    text-transform: uppercase;
}

.otp-container {
    display: flex;
    align-items: center;
    background-color: blueviolet;
    padding: 20px 50px;
    border-radius: 20px;
}

.otp > h3 {
    letter-spacing: 15px;
}

.timer-animation {
    padding: 0 15px;
}