@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: Poppins, Helvetica, sans-serif;
    background-color: #1b1b1b;
}


.clipboard-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    font-size: 48px;
}

.material-icons {
    font-size: 48px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 90vh;
}

.generador-otp {
    text-align: center;
    margin: auto;
    min-width: 350px;
    background-color: #fff;
    padding: 50px 100px;
    border-radius: 15px;
    box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.134);
}

.uppercase {
    text-transform: uppercase;
    letter-spacing: 2px;

}

.otp-container {
    display: flex;
    align-items: center;
    background-color: #777EF3;
    padding: 15px 30px;
    border-radius: 20px;
    justify-content: space-between;
    min-width: 280px;
}

.otp {
}

.otp > h3 {
    letter-spacing: 15px;
    margin-left: 15px;
}

.timer-animation {
    /* background-color: brown; */
    
}

.timer-animation > svg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clipboard-copy {
    width: 40px;
}

circle {
    fill: none;
    /* stroke: url(#GradientColor); */
    stroke: #fff;
    stroke-width: 5px;
    stroke-dasharray: 79;
    stroke-dashoffset: 79;
    animation: anim 6s linear forwards;
    animation-iteration-count: infinite;
    
}

@keyframes anim {
    100% {
    stroke-dashoffset: 0;
    }
    
}

.text-copy-alert {
    position: absolute;
    animation: alert 2s linear forwards;
    display: none;
}

.active-alert {
    display: block;
}

@keyframes alert {
    0% {
    top: -45px;
    opacity: 5%;
    }

    20% {
        top: 17px;
        opacity: 100%;
    }
    60% {
        top: 17px;
        opacity: 100%;
    }

    100% {
        top: -45px;
        opacity: 5%;
    }
 
}

