body {
    font-family: Arial, Helvetica, sans-serif;
}


.clipboard-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: azure;
    font-size: 48px;
}

.material-icons {
    font-size: 48px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 90vh;
}

.generador-otp {
    text-align: center;
    margin: auto;
    min-width: 350px;
    background-color: azure;
    padding: 50px 100px;
    border-radius: 15px;
    box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.134);
}

.uppercase {
    text-transform: uppercase;
}

.otp-container {
    display: flex;
    align-items: center;
    background-color: blueviolet;
    padding: 20px 50px;
    border-radius: 20px;
    justify-content: center;
}

.otp > h3 {
    letter-spacing: 15px;
}

.timer-animation {
    /* background-color: brown; */
    
}

.timer-animation > svg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
}

circle {
    fill: none;
    /* stroke: url(#GradientColor); */
    stroke: azure;
    stroke-width: 7px;
    stroke-dasharray: 80;
    stroke-dashoffset: 80;
    animation: anim 6s linear forwards;
    animation-iteration-count: infinite;
    
}

@keyframes anim {
    100% {
    stroke-dashoffset: 0;
    }
    
}

